COPYING
INSTALL
aclocal.m4
autom4te.cache
install-sh
missing
myenv-*

configure
config.log
config.status
config.sub
config.guess

Makefile
Makefile.in
*/Makefile
*/Makefile.in

dotfiles/.*

dictool/anthy2gji
dictool/anthy2gji.sh
dictool/anthy2gji.rb

